body {
  background-image:url("../public/imagenes/fondoPrueba.png") ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.BodyHome{
  background-image:url("../public/imagenes/fondo-definitivo-1er-template.jpg") ;
  background-size: cover;
  height: 100vh;
}
.ContainerHome{
  display: flex;
  justify-content: space-around;
}
.ContainerButtons{
  margin-right: 257px;
  margin-top: 330px;
  margin-left: 0px;
  margin-bottom: 100px;
  padding-right: 100px;
  }

.imgHome{
  align-content: center;
  width: 400px;
  height: 400px;
  margin-top: 167px;
  margin-left: 159px;
 margin-right:0px;
 padding-left: 315px;
 position: relative;
}
.btnHome{
  background-color: #edf5d9;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: large;
}

#root{
  width: 100vw;
  height: 100vh;
}
h1{
  margin: 0;
}
.waiterHeader{
  background-color: rgb(32, 8, 8);
  color: white;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-around;
  align-items: center;
}
.table1{
  background-color: #FFEB84;
  width: 12%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.table2{
  background-color: #FFEB84;
  width: 12%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.table3{
  background-color: #FFEB84;
  width: 12%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.table4{
  background-color: #FFEB84;
  width: 12%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.table5{
  background-color: #FFEB84;
  width: 12%;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}
.menuOptions{
  width: 80%;
    height: 25%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  
}
.orderBox{
  width: 53%;
  height: 40%;
  background-color: white;
  margin-left: 27%;
  margin-top: -30%;
}
.sendToKitchen{
  background-color: #5BF157;
  font-size: 25px;
  border-radius: 10px;
  border: none;
  width: 15%;
  margin-left: 83%;
  margin-top: -80%;
}
.menuButtons{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 45%;
  margin-top: 0.9%;
}
.menuButton{
background-color: #FFEB84;
width: 80%;
height: 30%;
border: none;
font-size: 25px;
border-radius: 0 10px 10px 0;
margin-top: 8%;
}
.titlesHeader{
  background-color: rgb(32, 8, 8);
  color: white;
  display: flex;
  flex-direction: row;
  height: 10%;
  align-items: center;
}
.pKitchen{
  margin-left: 3%;
}
.dessertButton{
  background-color: #FFEB84;
width: 100%;
height: 100%;
border: none;
font-size: 20px;
border-radius: 10px;
margin: 2%;
}

.vegTableButton{
  background-color: #FFEB84;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 2%;
}
.tableButton{
  background-color: #FFEB84;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 2%;
}
.drinkButton{
  background-color: #FFEB84;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  margin: 2%;
}
.buttonOptions{
  width: 140px;
  height: 45px;
  margin: 10px;
}

