@font-face {
  font-family: "KaushanScript-Regular";
  src: url("assets/font/KaushanScript-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #faebce;
}




.home {
  display: grid;
  align-content: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  Justify-content: space-between;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 10%;
  font-family: KaushanScript-Regular;
  font-size: 150%;
}

.logo {
  width: 20%;

}



.containerHome {
  display: flex;
  flex-direction: column;
  Justify-content: space-between;

}

.btnIngresar,
.btnRegistrar {
  padding: 0.8em 1.8em;
  border: 2px solid #F6F650;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: #DAF7A6;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: black;
  margin: 10px;
}

/*.btnContinuar::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .btnContinuar:hover::before {
  width: 105%;
 }
 
 button:hover {
  color: #111;
 }*/


.btnGrupo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mesas {
  display: flex;
  flex-direction: row;
  Justify-content: flex-end;

  gap: 10px;


}

.mesa {
  width: 20%;
  background-color: #F6F650;
  color: black;
  padding: 15% 32%;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  margin-top: 10px;
  justify-content: space-between;
}

.nameClient {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 5px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.btnMenu {
  background-color: #f6ab50;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;

}

.btnSendOrderF {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 480px;
}

.btnSendOrderCh {

  background-color: #F6F650;
  color: black;
  padding: 15px 32px;

}



/*
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
